/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor.wwebjs_auth
/vendor

/public/serverjs/.wwebjs_auth
/public/serverjs/.wwebjs_cache
/public/serverjs/node_modules
/public/serverjs/.env

package-lock.json
/public/serverjs/package-lock.json

.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode